---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignTrailingComments: false
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
IndentCaseBlocks: true
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Left
TabWidth: 4
UseTab: ForIndentation
DerivePointerAlignment: false
Cpp11BracedListStyle: false
SortIncludes:
  Enabled: false
...
